<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
Please signup
   <form action="" method="post">
   		<input type="text" name="username">
   		<input type="submit" value="Sign up">
   </form>
</body>
</html>
